* {
 display: flex;
}

.banner {
  float: right;
  padding: 20px;
  margin: 0;
  display: inline;
  
  width: 100%;
}

/*styles navigation bar */
.nav {
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
}

/* styles the nav bar links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

/* styles the nav bar a tag */
li a {
  display: block;
  padding: 8px;
}

/* styles header inside navbar*/
h1 {
  background-color: salmon;
  font-family: 'Georgia', Times, Times New Roman, serif;
  float: left;
  text-align: left;
  width: 25%;
  height: 100%;
}

/* styles links inside navbar */
.active {
  text-align: right;
  background-color: salmon;
}

/* styles body background image*/
#mainbackground { 
  
}

/* styles the body */
body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/gray.png");
  height: 100vh;
}

/* styles inside of body section class */
.boxsections {
  border: 200px;
  padding: 30px;
  width: 960px;
  height: 550px;
  background-color: white;
  margin: 0;
  display: flex 1 0 auto;
}

/* styles the h2 tag inside of body section class */
.aboutme {
  color: salmon;
  padding: 10px;
}

/*styles image */
.img1 {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 350px;
  height: 400px;
}

/* styles paragraph */
p {
  display: inline-block;
  float: right;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* styles footer */
.footer {
  flex-shrink: 20px;
  padding: 20px;
  position: fixed;
  background-color: salmon ;
  width: 100%;
}

/* styles footer text */
.footertext {
  display: block;
  text-align: center;
}